
:root{
    background-color: black;
}


/* ../assets/img/ */

#content{

}

div#hero-section{
    width:100%;
    height:75vh;
    background-color: red;
    background-image: url("../assets/img/samgyeop-hero.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-position: center top;
    filter: blur(5px); /* Apply a blur effect */
    /* Or */
    filter: grayscale(30%); /* Apply a grayscale effect */
}

#hero-title{
    font-size: 3rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
   padding-top: 5%;
   width:70%

}

#hero-subtitle{
    font-size:2.5rem;
    color:white;
}

#hero-text{
    font-size:1.5rem;
    color:white;
    padding-top: 10%;
}

#hero-btn1, #hero-btn2{
    color:white;
    font-size: 1.5rem;
    border-radius: 6px;
    height:100%
}

#hero-btn1{
    background-color: orangered;

}
#hero-btn2{
background-color: gray;
font-size: 1rem;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction:column;
    /* justify-content: space-between; */
    align-items: center;
    align-content: center;
    text-align: center;
}
.buttons{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap:1rem;
}


@media only screen and (max-width: 600px) {
    #hero-title{
        padding-top: 25%;
        width: 100%;
       font-size: 2.5rem;
 
    }

    #hero-subtitle{
        padding-top: 15%;
        font-size: 2rem;
        padding-bot:10%;
    }
    #hero-text{
        padding-top: 20%;
    }
    div#hero-section{
        width:100%;
        height:80vh;
        
       }